

.footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fffcfc;
    text-align: center;
    color: #000000;
}

.icons{
    padding-top: 1rem;
}

.icons a{
    text-decoration: none;
    font-size: 1rem;
    margin: 0.5rem;
    color: #000000;
}

.company-name{
    font-size: 1rem;
    margin-top: 0.5rem;
}

@media (max-width: 500px){
    html{
        font-size: 50%;
    }
}    

@media(min-width: 501px) and (max-width: 768px){
    html{
    font-size: 50%;
    }
}    

